// Responsive settings
// ------------------
$mobile:        400px;
$tablet:        768px;
$desktop:       1024px;
$widescreen:    1280px;

$white: #f6f6f6;
$black: #0d0d0d;

$green: #437468;
$lighterGreen: #6afadc;
$lightGreen: #274635;
$darkGreen: #304840;
$greenBorderColor: #4b8c80;
$triangleGreen: rgba(22,31,26,.8);
$triangleGreen2: rgba(36,55,47,.8);

$orange: #ff9650;
$darkOrange: #56503f;
$lightOrange: #5c412a;

$red: #e12121;

$gradientBackground: linear-gradient(180deg,rgba(22,31,26,.8) 0%, rgba(22,31,26,.8) 100%);
$gradientBackgroundTransition: linear-gradient(180deg, rgba(22,31,26,.8) 0%, rgba(36,55,47,.8) 100%);
$gradientBackgroundDarkTranstion: linear-gradient(180deg,rgba(19, 26, 22, 0.8) 0,rgba(17,26,22,.8) 100%);
$darkBackground: #161f1a;
$darkBackgroundTransparent: rgba(11, 15, 13, 0.8);


$inputBackground: #2c463d;

$transition: all .3s ease-out;