.l-header{
    background: $gradientBackgroundTransition;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 120;

    @include tablet{
        padding-left: 40px;
        display: flex;
        min-height: 45px;
    }
}

.l-header__resTop{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    margin-bottom: 5px;

    @include tablet{
        flex: 0 0;
        order: 3;
    }

    @include desktop{
        flex-wrap: nowrap;
        align-items: center;
        margin: 0;
    }
}

.l-header__resTopOther{
    display: flex;
    height: 0;
    justify-content: center;
    opacity: 0;
    order: 2;
    text-align: center;
    transition: $transition;
    visibility: hidden;
    width: 100%;
    
    &.is-show{
        height: auto;
        opacity: 1;
        transition: $transition;
        visibility: visible;
    }

    .c-progress{
        display: flex;
        justify-content: center;
        min-width: auto;
        text-align: center;
    }

    @include desktop{
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    @include desktop{
        div{
            display: flex;
            flex-direction: column;
            margin: 0;

        }

        span{
            display: flex;
            flex-direction: column;
        }
        .c-progress{
            min-width: 50px;
        }

        img{
            margin: 0 auto;
        }        
    }
}
.l-header__resTopMain{
    display: flex;
    margin-bottom: 5px;
    margin: 0 auto;

    .c-progress{
        display: flex;
        justify-content: center;
        min-width: auto;
        text-align: center;
    }

    @include tablet{
        margin: 0;

        div:not(.l-header__resArrow){
            min-width: 50px;
            display: flex;
            flex-direction: column;
            margin: 0;
        }
    }

    @include desktop{

        span{
            display: flex;
            flex-direction: column;
        }
        .c-progress{
            min-width: 50px;
        }

        img{
            margin: 0 auto;
        }
    }
}
.l-header__resArrow{
    height: 20px;
    position: relative;
    width: 20px;

    &:before{
        bottom: 0;
        content: '';
        cursor: pointer;
        position: absolute;
        transition: $transition;
        @include triangle("down", $white, 6px)
    }
    
    .is-toggle &{
        &:before{
            bottom: 6px;
            transform: rotate(180deg);
            transition: $transition;
        }
    }

    @include desktop{
        display: none;
    }

}
.l-header__center{
    display: flex;
    align-items: center;
}
.l-header__info{
    display: flex;
    justify-content: space-between;

    @include tablet{
        order: 3;
        margin-left: 10px;
        justify-content: flex-end;
    }
}

.l-header__left{
    align-items: center;
    display: flex;
    padding-left: 5px;

    @include tablet{
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 50;
    }
}

.l-header__res{
    display: flex;
    justify-content: center;
}
