.c-pagination{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.c-pagination__item{
    border-right: 0;
    border: 1px solid $greenBorderColor;
    padding: 5px;

    &.is-active{
        color: $lighterGreen
    }

    &:hover{
        color: $green;
    }
}