.ul-sideNav{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.ul-sideNav__item{
    list-style: none;
    padding: 7px;
    margin: 0;
}

.ul-sideNav__link{
    width: 100%;
    padding: 5px 0;
    display: inline-block;
}


